//Ting der gælder for hele siden
* {
    margin: $valueZero;
    padding: $valueZero;
}


 body{
     background-image: url("img/background-enggaarden.png");
 }
h1, h2, h3, h4, h5, h6 {
    font-family: $ptserif;
}

h1 {
    margin-top: 1%;
}

p {
    font-family: $ptsans;
}

//Navigation
#mainNav {
    background-color: $straw;
    color: $offwhite;
    a {
        color: $offwhite;
         &:hover {
            color: $offblack;
        }
    }

    .navbar-brand {
       
         .logo {
            width: 18%;
            display: $displayFlex;
            float: $valueLeft;
            }
        h1 {
            color: $offwhite;
            font-size: $valueXlarge;
            margin-bottom: -0.1%;
        }
        h2 {
            color: $offwhite;
            font-size: medium;
            @include margin-zero-auto;
            margin-left: 15%;   
        }

    }
    .navbar-toggler {
        color: $offwhite;
        background-color: $offwhite;
        .navbar-toggler-icon {
           color: $straw; 
           
           .fa-bars {
               margin-top: 20%;
           }

        }

        &:focus{
            color: $offwhite;
        }
           
    }
    .dropdown-menu {
        a {
            color: $offblack;
        }
    }
   
}


//Footer
.footer {
    background-color: $offblack;
    color: $offwhite;
    .row {
        margin-right: $valueZero; 
        ul {
         list-style-type: $valuenone;
            a {
                color: $offwhite;
                text-decoration: $valuenone;
                &:hover {
                color:$straw; 
                }
            }
        }
    }
} 

//Grå bokse til forum og videoemner samt tekst dertil
.undervisningsvideo {
    text-align: $placementCenter;
}

.beskrivelseUnderside {
    text-align: $placementCenter;
}

.farvetbox {
    background-color: $normalGrey;
     margin-top: $valueTwoPercent;
     margin: 0.2%;
    a {
        font-size: $valueXlarge;
        padding: $paddingTenPercent;
        display: $displayBlock;
        @include margin-zero-auto;
        text-align: $placementCenter;
        color: $offblack;
        text-decoration: $valuenone;
        &:hover {
            color: $straw;
        }
    }
    &:hover {
        background-color: $offblack;
    }
}


//Form validering
.errorMessage {
    color: $colorRed;
}