@mixin margin-zero-auto {
    margin: $marginZeroAuto;
}

@mixin picture-hight-width {
     width: $value70Percent;
     height: $value80Percent;
}

@mixin payment-btn {
      padding: $value1Percent;
        border-radius: 15px;
        border-style: $valuenone;
}

@mixin signin-btns {
    color: $offblack;
    background-color: $straw;
    padding: 0 1% 0 1%;
}