.signInButton {
  @include signin-btns;
  font-family: $ptsans;
}

.backToFront {
    display: $displayTable;
    @include margin-zero-auto;
    font-family: $ptserif;
   @include signin-btns;
    border-top-style: $valueHidden;
    border-right-style: $valueHidden;
    border-left-style: $valueHidden;
    border-bottom-style: $valueHidden;
    border-radius: $value3Percent;
    text-decoration: $valuenone;
        &:hover {
            background-color: $offblack;
            color: $straw;
        }
}