$ptserif: 'PT Serif', serif;
$ptsans: pt-sans, sans-serif;
$offblack: #333333;
$offwhite: #fefefe;
$straw: #fabf38;
$valuenone: none;
$valueZero: 0;
$placementCenter: center;
$displayFlex: flex;
$valueLeft: left;
$valueHidden: hidden;
$value2Percent: 2%;
$darkGrey: rgb(68, 68, 68);
$normalGrey: #EBEAEB;
$valueSolid: solid;
$valueXlarge: x-large;
$valueTwoPercent: 2%;
$paddingTenPercent: 10%;
$displayBlock: block;
$marginZeroAuto: 0 auto;
$displayTable: table;
$colorRed: red;
$padding5Percent: 0 5% 0 5%;
$topBottom5Percent: 5% 0 5% 0;
$value5Percent: 5%;
$value70Percent: 70%;
$value80Percent: 80%;
$value3Percent: 3%;
$value1Percent: 1%;